VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest.LatencyControl/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest.LatencyControl/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest.LatencyControl/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest.LatencyControl/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_1Webviews/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_1Webviews/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_1Webviews/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_1Webviews/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_2Webviews/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_2Webviews/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_2Webviews/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_2Webviews/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_DynamicSurface/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_DynamicSurface/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_DynamicSurface/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_DynamicSurface/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_ExternalSurface/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_ExternalSurface/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_ExternalSurface/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_ExternalSurface/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_FaceDetection/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_FaceDetection/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_FaceDetection/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_FaceDetection/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GetData/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GetData/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GetData/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GetData/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GetData_NoRenderer/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GetData_NoRenderer/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GetData_NoRenderer/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GetData_NoRenderer/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GLSurfaceView/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GLSurfaceView/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GLSurfaceView/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_GLSurfaceView/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_LowLatency/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_LowLatency/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_LowLatency/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_LowLatency/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_MetaData/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_MetaData/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_MetaData/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_MetaData/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Multi/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Multi/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Multi/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Multi/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Multi2/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Multi2/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Multi2/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Multi2/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Simple/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Simple/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Simple/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_Simple/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_SlidingViews/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_SlidingViews/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_SlidingViews/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_SlidingViews/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_SmoothSwitch/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_SmoothSwitch/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_SmoothSwitch/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_SmoothSwitch/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_StreamControl/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_StreamControl/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_StreamControl/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_StreamControl/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_view2x2/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_view2x2/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_view2x2/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_view2x2/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_viewPIP/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_viewPIP/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_viewPIP/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_viewPIP/build/
VXG.MediaPlayer.Android/src/AndroidStudio/RTSP_Player/.gradle/
VXG.MediaPlayer.Android/src/AndroidStudio/RTSP_Player/.idea/
VXG.MediaPlayer.Android/src/AndroidStudio/RTSP_Player/app/build/
VXG.MediaPlayer.Android/src/AndroidStudio/RTSP_Player/build/
*.apk
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest.LatencyControl/mediaPlayerSDKTestLatencyControl/build/
VXG.MediaPlayer.Android/src/AndroidStudio/MediaPlayerSDKTest_DynamicSurface/mediaPlayerSDKTestDynamicSurface/build/
